body { 
  background: url('images/Rustic-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  
}
.linkref {
  color: #4b2ea0;
  /* display: inline-block; */
  padding: 0 8px 8px 8px;
  /* margin-right: 100px;  */
  line-height: 20px; 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  border: none;
  outline: none;
   float: right;  
   margin: 2px 2px 2px 2px;
}
