body { 
  background: url('images/Rustic-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.form-group.last { margin-bottom:0px; }
