body { 
  background: url('images/Rustic-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.form-group.last { margin-bottom:0px; }

.linkref {
  color: #4b2ea0;
  display: inline-block;
  padding: 0 11px;
  /* margin-right: 100px; */
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  border: none;
  outline: none;
  
  
}


