<html>
    <head>
       <title>Recipe Form</title>
       {% load staticfiles %}
        <script rel = "javascript" src = "{% static 'recipeadmin/Js/jquery-3.2.1.min.js' %}"></script>
        <script rel = "javascript" src = "{% static 'recipeadmin/Js/app.js' %}"></script>
        <link rel="stylesheet" href="{% static 'recipeadmin/css/font-awesome-4.7.0/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'recipeadmin/css/newrecipe.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                            <div class = "errormessages">
                                {% for e in errors %}
                                <p>{{e}}</p>
                                {% endfor %}
                            </div>
                            <h1> Add a new recipe </h1>
                            <form class="form-horizontal" id = "recipeform" action="{% url 'recipeadmin:create_path' %}" method ="post" role="form">
                             {% csrf_token %}
                                 <div class="form-group">
                                    <label for="DishName" class="col-sm-3 control-label">
                                        DishName: </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="DishName" name = "DishName" placeholder="Name of the Dish" required>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="CookTime" class="col-sm-3 control-label">
                                        CookTime: </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="CookTime" name = "CookTime" placeholder="Minutes" required>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="procedure" class="col-sm-3 control-label">
                                        Procedure: </label>
                                    <div class="col-sm-9">
                                       <textarea name = "Procedure" rows = "8" cols = "80" placeholder="Enter the Process" required ></textarea> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Ingredients" class="col-sm-3 control-label">
                                        Ingredients: </label>
                                    <div class="col-sm-9">
                                        <div class="col-sm-offset-1 col-sm-5">
                                            <p id="ingredient"></p><i id="imore" class="fa fa-plus"></i><br>
                                        </div>
                                        <input type="text" class="form-control" id="qty" name = "qty" placeholder="Quantity" required>
                                        <input type="text" class="form-control" id="ing" name = "igr" placeholder="Ingredient" required>
                                    </div>
                                    <div class="inglist">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Category" class="col-sm-3 control-label">
                                        Category: </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="new_category" placeholder="Breakfast/Lunch/Snacks/Dessert" required>
                                        <select name = "Category" class="form-control">
                                                <option></option>
                                            {% for c in categories %}
                                                <option value = {{c.id}}>{{c.CategoryName}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="YouTube Link" class="col-sm-3 control-label">
                                        YouTube Link:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="YoutubeLink" placeholder="Enter url" required>
                                    </div>
                                </div>

                                <div class="form-group last">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" id = "create" class="btn btn-success btn-sm">
                                           Create</button>
                                    </div>
                                </div>
                    </div>
            </div>
                            <div class="form-group">
								<div class="col-sm-offset-11 col-sm-10">
									<a href = "{% url 'recipeadmin:reg_path' %}"> <h4>Click here to add a new Admin </h4> </a><br>
								</div>
							</div>
        </div>
                                
        </form>

    </body>
</html>
