<html>
    <head>
       <title>Admin Register</title>
         {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'recipeadmin/css/register.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">     
   
    </head>
    <body>
        
       
        <div class="container">
			<div class="form-group">
				<a href = "{% url 'recipeadmin:editadmin_path' %}" class="linkref"> <h4>Edit Admin </h4> </a>
						<a href = "{% url 'recipeadmin:logout_path' %}" class="linkref"> <h4>Logout </h4> </a>
			</div>
		<div class="row centered-form">
		 <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-4 col-md-offset-5">
       
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title"><strong>Register a new User</strong> </h3>
				</div>
					<div class="panel-body">
					<div class="form-group">
                     <div class = "errormessages">
						 <ul>
								{% for e in errors %}
									<li>{{e}}</li>	
								{% endfor %}
						</ul>
					</div>
					</div>
					 
			    		<form action= "{% url 'recipeadmin:register_path'%}" method ="post"role="form">
                            {% csrf_token %}
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                			<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="emailid" id="emailid" class="form-control input-sm" placeholder="Email Address">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="reenterpassword" id="reenterpassword" class="form-control input-sm" placeholder="Confirm Password">
			    					</div>
			    				</div>
							</div>
							 <div class="form-group last">
								
									<button type="submit" class="btn btn-success btn-block">
										Register</button>			
								
							</div>
						</form>
			    	</div>
				</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-11">
									<a href = "{% url 'recipeadmin:new_path' %}"> <h4>Click here to add a new Recipe</h4> </a><br>
								</div>
							</div>
			</div>
			
		</div>
							
    </div>
    </body>
</html>